@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* * {
    font-family: 'Raleway', sans-serif;
} */

body {
    background-color: #fffff7;
    color: #212121;
    filter: sepia(8%)
}

.wrapper {
    /* border: 1px solid #212121; */
    width: 99%;
    margin: auto;
}

.group {
    /* border: 1px solid #5f4339; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.header-group {
    display: flex;
    flex-flow: column wrap;
}

.header-background-color {
    background-color: #ffee58;
}

.nav-group {
    /* border: 1px solid orange; */
    background-color: #ffff8b;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    
}

.group-column {
    align-items: center;
    /* border: 1px solid yellow; */
    display: flex;
    flex-flow: column wrap;
}

.word-group {
    background-color: #fff;
    /* border: 1px solid #212121; */
    border-radius: 5px;
    /* box-shadow: 3px 3px 5px 3px #e0e0e0; */
    box-shadow: 5px 5px 5px 1px #e0e0e0;
    box-sizing: border-box;
    display: flex;
    /* flex: 1; */
    flex-flow: column wrap;
    margin: 10px;
    padding: 10px;
    /* padding: 0 15px; */
    width: 300px;
}

.item {
    flex: 1;
}

/* Typography */

h1 {
    text-align: center;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 500;
    margin: 18px;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 500;
}

a {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.header {  
    font-family: 'Lora', serif;
    /* font-weight: 400; */
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.caption {
    align-self: center;
    text-align: center;
}

.user {
    color: #212121;
    font-family: 'Raleway', sans-serif;
}

.word {
    margin: 10px;
    /* margin: 5px 10px; */
}

/* Temp */

p, button, input, label {
    font-family: 'Raleway', sans-serif;
    /* font-size: 18px; */
}

input, label {
    margin: 8px;
}

input {
    /* border: none;
    border-bottom: 1px solid #795548; */
    border: 1px solid #795548;
    border-radius: 3px;
    padding: 2px 8px;
    width: 300px;
}

button {
    background-color: #795548;
    border: 1px solid #795548;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin: 8px;
    padding: 8px 16px;
}

button:hover {
    box-shadow: 1px 1px 3px 1px #aeaeae;
}

/* Elements */

form {
    text-align: center;
}

form > div {
    /* align-items: stretch; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

footer {
    /* display: flex; */
    margin: 10px;
}

footer > a {
    text-decoration: underline;
}

@media all and (min-width: 500px) {
    .wrapper {
        width: 85%;
    }

    .group {
        flex-flow: row wrap;
    }

    .header-group {
        flex-flow: row wrap;
    }

    .nav-group {
        background-color: #ffee58;
        justify-content: flex-end;
        padding: 0;
    }

    .nav-group > a  {
        margin-left: 10px;
    }

    /* Typography */

    h1 {
        text-align: left;
    }

    .header {
        text-align: left;
    }

    .caption {
        align-self: flex-start;
        text-align: left;
    }

}