@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-color: #fffff7;
    color: #424242;
    filter: sepia(15%);
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.group {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.header-group {
    display: flex;
    flex-flow: column wrap;
}

.header-background-color {
    background-color: #fff9c4;
}

.nav-group {
    align-items: center;
    background-color: #e5e1c8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 5px;
    
}

.group-column {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.item {
    flex: 1;
}

/* Typography */

h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 500;
}

a {
    color: #424242;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #c62828;
    font-weight: 700;
}

p, span {
    font-family: 'Raleway', sans-serif;
}

.header {  
    font-family: 'Lora', serif;
    font-size: 40px;
    text-align: center;
}

.caption {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.word {
    margin: 10px;
}

/* Specific Elements */

button, input, label {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

button {
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
}

button:hover {
    background-color: #c62828;
    border: 1px solid #c62828;
    box-shadow: 1px 1px 3px 1px #aeaeae;
}

input {
    border: none;
    border-bottom: 3px solid #424242;
    padding: 2px 8px;
    width: 300px;
}

.log-group {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin-top: 25px;
}

.word-group {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 3px #e0e0e0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.learn-guess-group {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 3px #e0e0e0;
    display: flex;
    flex-flow: column wrap;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    width: fit-content;
}

.learn-guess-score {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.learn-guess-score > p {
    font-size: 14px;
}

.learn-guess-form {
    display: flex;
    flex-flow: row;
}

.learn-guess-correct {
    color: #1b5e20;
    font-weight: 700;
}

.learn-guess-incorrect {
    color: #b71c1c;
    font-weight: 700;
}

input#learn-guess-input {
    border: none;
    border-bottom: 2px solid #424242;
    border-radius: 0;
    font-size: 14px;
    padding: 2px 8px;
    width: 100%;
}

div[role=alert] {
    color: #b71c1c;
    font-weight: 700;
}

.learn-guess-form > label {
    font-size: 14px;
    margin: 14px 8px 8px 8px;
    box-sizing: border-box;
}

.learn-guess-form > button {
    font-size: 14px;
    margin: 8px;
    padding: 4px 8px;
}

/* Elements */

form {
    text-align: center;
}

form > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

footer {
    /* display: flex; */
    margin: 10px;
}

footer > a {
    text-decoration: underline;
}

@media all and (min-width: 500px) {
    .log-group {
        margin-top: 50px;
    }

    .learn-guess-group {
        margin-top: 150px;
        width: 450px;
    }
}

@media all and (min-width: 1000px) {
    .wrapper {
        width: 85%;
    }

    .group {
        flex-flow: row wrap;
    }

    .header-group {
        flex-flow: row wrap;
    }

    .nav-group {
        /* background-color: #fdd835; */
        /* background-color: #ffeb3b; */
        /* background-color: #ffee58; */
        /* background-color: #fff8e1; */
        background-color: #fff9c4;
        justify-content: flex-end;
        padding: 0;
    }

    .nav-group > a  {
        margin-left: 10px;
    }

    .log-group {
        margin-top: 75px;
    }

    .learn-guess-group {
        margin-top: 175px;
        width: 500px;
    }

    input#learn-guess-input {
        /* border: 1px solid #795548; */
        border: none;
        border-bottom: 2px solid #424242;
        border-radius: 0;
        font-size: 16px;
        padding: 2px 8px;
        width: 100%;
    }

    .learn-guess-form > label {
        font-size: 16px;
        margin: 20px 8px 8px 8px;
        box-sizing: border-box;
    }

    .learn-guess-form > button {
        font-size: 16px;
        margin: 10px;
        padding: 4px 8px;
        /* box-sizing: border-box; */
    }

    /* Typography */

    .header {
        text-align: left;
    }

    .caption {
        align-self: flex-start;
        text-align: left;
    }

}